:root {
    --primary-color: rgb(50, 50, 50);
    --secondary-color: rgb(29, 29, 29);

    --nav-size-no-hover: 1em;
    --nav-size-hover: 1.1em;
}

* {
    color: white;
}

body {
    background-color: var(--primary-color);
}

button {
    background-color: gray;
}

header.nav-bar {
    display: block;
    background-color: var(--secondary-color);
    width: 100%;
}

header.nav-bar > a {
    display: inline-block;
    margin-left: 2rem;
    text-decoration: none;
    padding: 10px;
    color: rgb(200, 200, 200);
    font-size: var(--nav-size-no-hover);

    transition: .5s;
}

header.nav-bar > a:hover,
header.nav-bar > a:focus {
    font-size: var(--nav-size-hover);
    color: white;
    outline: none;
}

.background {
    display: block;
    background-color: var(--secondary-color);
    margin: 5px 0;
    padding: 5px;
}

.center-text {
    text-align: center;
}

/* button.spoil::before {
    content: "Show Spoiler (";
} */

button.spoil {
    display: block;
    margin: 5px auto;
    font-size: 125%;
    transition: 0.5s;
}

button.spoil:hover,
button.spoil:focus {
    font-size: 130%;
    outline: none;
}

spoiler.hidden > button.spoil::before {
    content: "Show [" attr(name) "]";
}
button.spoil::before {
    content: "Hide [" attr(name) "]";
}

spoiler > content > span:focus {
    display: block;
}

spoiler.hidden > content {
    display: none;
}
spoiler.hidden > content:focus {
    display: block;
}

spoiler > content {
    display: block;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    color: aqua;
}

a:hover,
a:focus {
    color: purple;
    text-decoration: underline;
    outline: none;
}

ul.programming-list > li {
    margin: 5px;
    padding: 10px;
}

div.text-anim {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    animation: text-anim 2s forwards;
}

@keyframes text-anim {
    0% {
        transform: scale(0%, 100%);
    }
    25% {
        transform: scale(-100%, 100%);
    }
    100% {
        transform: scale(100%, 100%);
    }
}

.text-space-anim {
    display: block;
    animation: text-space-anim 0.75s forwards;
}

@keyframes text-space-anim {
    0% {
        letter-spacing: 7.5em;
    }
    100% {
        letter-spacing: 0em;
    }
}

@media only screen and (max-width: 992px) {
    @keyframes text-space-anim {
        0% {
            letter-spacing: 2em;
        }
        100% {
            letter-spacing: 0em;
        }
    }

    header.nav-bar > a,
    header.nav-bar > a:hover,
    header.nav-bar > a:focus {
        display: flex;
    }

    header.nav-bar > a,
    header.nav-bar > a:hover,
    header.nav-bar > a:focus,
    button.spoil {
        transition: 0s;
    }
    
    * {
        font-size: 1.25em;
    }

    p,
    a {
        font-size: 1em;
    }
}